// Buttons
// ------------------------
button {
    cursor: pointer;
}

.btn {
    display: inline-block;
    color: $white;
    line-height: 1;
    font-size: rem-calc(12);
    font-weight: $font-weight-bold;
    padding: 0.75rem 1rem;
    text-align: center;
    font-family: $font;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: 3px;
    transition: 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:hover {
        color: $white;
        text-decoration: none;
        background-color: $primary-ultralight;
        border-color: $primary-ultralight;
    }

    &:not(.btn--dropdown) {
        &:active,
        &:focus {
            background-color: $primary-dark;
            border-color: $primary-dark;
        }
    }

    // Secondary button
    // &.btn--secondary {
    //     background-color: $secondary;
    //     border-color: $secondary;

    //     &:not(.btn--dropdown) {
    //         &:active,
    //         &:focus {
    //             background-color: $secondary-dark;
    //             border-color: $secondary-dark;
    //         }
    //     }
    // }

    // White button
    &.btn--white {
        background-color: $white;
        border-color: $white;
        color: $primary;

        &:hover {
            color: $primary;
        }

        &:not(.btn--dropdown) {
            &:active,
            &:focus {
                background-color: $gray-light;
                border-color: $gray-light;
            }
        }
    }

    // Green button
    &.btn--green {
        background-color: $green;
        border-color: $green;

        &:not(.btn--dropdown) {
            &:hover {
                background-color: $green-light;
                border-color: $green-light;
            }

            &:active,
            &:focus {
                background-color: $green-dark;
                border-color: $green-dark;
            }
        }
    }
}

// Disabled button
.btn[disabled],
.btn--disabled {
    background-color: $gray-light !important;
    border-color: $gray-light !important;
    color: $gray !important;
    cursor: not-allowed !important;
}

// Icon button
.btn--icon {
    $icon-size: 20px;

    span {
        position: relative;
        padding-left: $icon-size + 10px;
    }

    img {
        position: absolute;
        top: 50%;
        left: 0;
        max-width: $icon-size;
        max-height: $icon-size;
        transform: translateY(-50%);
    }
}

// Full width button
.btn--full {
    display: block;
    width: 100%;
}

// Dropdown button
.btn--dropdown {
    position: relative;

    &:after {
        content: '';
        display: inline-block;
        border: 5px solid transparent;
        border-top-color: $green-ultradark;
        border-bottom-width: 2px;
        transition: 0.15s ease-in-out;
    }

    &.is-active,
    &:hover {
        box-shadow: 0 0 6px 0 rgba($blue, 0.5);
    }

    &.is-active {
        outline: none;

        .dropdown {
            display: block;
        }
    }

    .dropdown {
        display: none;
        position: absolute;
        left: -1px;
        top: 100%;
        padding-top: 0.25rem;
        z-index: 1;
    }

    ul {
        overflow: hidden;
        text-align: left;
        background-color: $white;
        border: 1px solid $gray-light;
        border-radius: 3px;
        box-shadow: 0 6px 16px 0 rgba(black, 0.06),
                    0 4px 8px 0 rgba(black, 0.08),
                    0 2px 4px 0 rgba(black, 0.10);

        a {
            white-space: nowrap;
            text-decoration: none;
            text-transform: none;
            letter-spacing: 0;
            font-weight: $font-weight-normal;;
            color: $black;
            padding: 0.75rem 1rem;
            display: block;
            font-size: 14px;

            &:active,
            &:focus,
            &:hover {
                background-color: $blue;
                color: $white;
            }
        }
    }
}
