// Forms
// ------------------------
::-ms-clear,
::-ms-reveal {
    display: none;
}

@include placeholder {
    color: $gray;
    font-family: $font;
    letter-spacing: 0;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='url'],
input[type='date'],
input[type='password'],
textarea,
select {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-family: $font;
    font-size: rem-calc(14);
    color: $black;
    // line-height: $form-height;
    background-color: $white;
    border: 1px solid $gray-light;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 transparent;
    transition: 0.15s ease-in-out;

    &:hover {
        border-color: $blue;
    }

    &:active,
    &:focus {
        outline: none;
        border-color: $blue;
        box-shadow: 0 0 6px 0 rgba($blue, 0.5);
    }
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='url'],
input[type='date'],
input[type='password'],
textarea,
select {
    height: $form-height;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='search'],
input[type='url'],
input[type='date'],
input[type='password'],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type='password'] {
    font-family: caption;
    letter-spacing: 2px;
}

textarea {
    width: 100%;
    min-height: $form-height * 4; // 4x the height of an input
    line-height: 1.25;
    resize: vertical;
}

// select {
//     line-height: 1;
// }

label {
    display: inline-block;
    color: $black;
    font-size: rem-calc(14);
}

// Form Fieldsets
.form-fieldset {
    .form-fieldset__fields {
        position: relative;
        padding-left: 1rem;

        &:before {
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
            bottom: 0;
            width: 1px;
            background-color: $gray-light;
        }
    }
}

.form-fieldset__heading {
    margin-bottom: -0.5rem;
    font-weight: $font-weight-bold;
    font-size: rem-calc(14);
}

// Form Fields
.form-field {
    position: relative;
    margin: 1rem 0;

    &:hover {
        .form-field__message {
            opacity: 1;
            visibility: visible;
        }
    }
}

.form-field--select {
    .select {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0.75rem;
            pointer-events: none;
            border: 5px solid transparent;
            border-bottom-width: 0;
            border-top-color: $gray-light;
            transform: translateY(-50%);
        }

        select {
            padding-right: (0.75rem * 2) + rem-calc(10);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}

.form-field--date {
    .date {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0.75rem;
            width: 17px;
            height: 18px;
            pointer-events: none;
            background: {
                size: cover;
                repeat: no-repeat;
                // image: svg-url('<svg width="17" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M12.92 1.36H17v14.16c0 1.19-.962 2.16-2.153 2.16H2.153A2.157 2.157 0 0 1 0 15.52V1.36h4.08V0h1.36v1.36h6.12V0h1.36v1.36zm0 1.36v1.36h-1.36V2.72H5.44v1.36H4.08V2.72H1.36v12.8c0 .442.355.8.793.8h12.694a.797.797 0 0 0 .793-.8V2.72h-2.72zM3.5 7h2v2h-2V7zm4 0h2v2h-2V7zm4 0h2v2h-2V7zm-8 4h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2z" fill="#{$gray-light}" fill-rule="nonzero"/></svg>')
                image: svg-url('<svg viewBox="0 0 18 20" xmlns="http://www.w3.org/2000/svg"><path d="M4 3.09v2.378h1.94V3.09h6.12v2.378H14V3.09h3.5v14.16c0 1.19-.962 2.16-2.153 2.16H2.653A2.157 2.157 0 0 1 .5 17.25V3.09H4zm0 5.64v2h2v-2H4zm4 0v2h2v-2H8zm4 0v2h2v-2h-2zm-8 4v2h2v-2H4zm4 0v2h2v-2H8zm4 0v2h2v-2h-2zM4 .59h1.94v2.5H4V.59zm8.06 0H14v2.5h-1.94V.59z" fill="#{$gray-light}" fill-rule="nonzero"/></svg>')
            }
            transform: translateY(-50%);
        }

        .form-field__date {
            padding-right: (0.75rem * 2) + rem-calc(10);
        }
    }
}

.form-field--error {
    &.form-field--date {
        .date {
            &:after {
                background-image: svg-url('<svg width="17" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M12.92 1.36H17v14.16c0 1.19-.962 2.16-2.153 2.16H2.153A2.157 2.157 0 0 1 0 15.52V1.36h4.08V0h1.36v1.36h6.12V0h1.36v1.36zm0 1.36v1.36h-1.36V2.72H5.44v1.36H4.08V2.72H1.36v12.8c0 .442.355.8.793.8h12.694a.797.797 0 0 0 .793-.8V2.72h-2.72zM3.5 7h2v2h-2V7zm4 0h2v2h-2V7zm4 0h2v2h-2V7zm-8 4h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2z" fill="#{$red}" fill-rule="nonzero"/></svg>');
            }
        }
    }

    .form-field__input,
    .form-field__date,
    .form-field__select,
    .form-field__textarea {
        border-color: $red !important;

        &:active,
        &:focus {
            background-color: $red-ultralight-1;
            box-shadow: 0 0 6px 0 rgba($red, 0.5);
        }
    }

    .form-field__input {
        background: {
            image: svg-url('<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M10 20C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10zm-.936-6.083v1.87h1.872v-1.87H9.064zM9.2 4.212v8.238h1.6V4.212H9.2z" fill="#{$red}" fill-rule="nonzero"/></svg>');
            repeat: no-repeat;
            position: right 0.75rem center;
        }
    }

    .form-field__help {
        color: $red;
    }
}

.form-field__action,
.form-field__help {
    display: block;
    margin-top: 0.25rem;
    color: $gray-dark;
    font-size: rem-calc(11);
    letter-spacing: 0.1px;
    line-height: 1;
}

.form-field__action {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 0;
    text-decoration: none !important;
    border: none;
    background-color: transparent;
}

.form-field__label {
    margin-bottom: 0.25rem;

    &.required {
        &:after {
            content: '*';
            display: inline-block;
            color: $red;
        }
    }
}

.form-field__checkbox,
.form-field__radio {
    display: block;

    input {
        display: none;

        &:checked {
            + span {
                &:before {
                    border-color: $blue;
                }
            }
        }

        &:disabled {
            + span {
                pointer-events: none !important;

                &:before {
                    background-color: $gray-ultralight !important;
                    border-color: $gray-light !important;
                    pointer-events: none !important;
                }
            }
        }
    }

    span {
        position: relative;
        padding-left: 1.5rem;
        font-size: rem-calc(14);

        &:hover {
            &:before {
                border-color: $blue;
            }
        }

        &:before {
            $size: 18px;
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            width: $size;
            height: $size;
            background-color: $white;
            border: 1px solid $gray-light;
            border-radius: 1px;
            transform: translateY(-50%);
            transition: 0.15s ease-in-out;
        }
    }
}

.form-field__checkbox {
    + .form-field__checkbox {
        margin-top: 0.5rem;
    }

    input {
        &:checked {
            + span {
                &:before {
                    content: svg-url('<svg width="12" height="9" xmlns="http://www.w3.org/2000/svg"><path d="M1 4.412l3.126 3.126L11 .664" fill-rule="nonzero" stroke="#{$white}" stroke-width="2" fill="none"/></svg>');
                    background-color: $blue;
                }
            }
        }
    }

    span {
        &:before {
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1px;
        }
    }
}

.form-field__radio {
    + .form-field__radio {
        margin-top: 0.5rem;
    }

    input {
        &:checked {
            + span {
                &:before {
                    border-width: 6px;
                }
            }
        }
    }

    span {
        &:before {
            border-radius: 100%;
        }
    }
}

// Login Fields
.form-field--login {
    margin: 0;

    input[type='text'],
    input[type='email'],
    input[type='tel'],
    input[type='number'],
    input[type='search'],
    input[type='url'],
    input[type='date'],
    input[type='password'],
    textarea,
    select {
        width: 100%;
        height: $form-height-login;
        padding: 0.5rem 0.75rem;
        font-family: $font;
        color: $white;
        line-height: $form-height-login;
        background-color: transparent;
        border: 1px solid $primary-light;
        border-radius: 3px;
        box-shadow: 0 0 10px 0 transparent;
        transition: 0.15s ease-in-out;

        @include placeholder {
            color: $primary-light;
        }

        &:hover {
            border-color: $white;
        }

        &:active,
        &:focus {
            outline: none;
            border-color: $white;
            box-shadow: 0 0 10px 0 $blue;
        }
    }

    &:hover {
        .form-field__input {
            border-color: $white;
        }
    }

    &.form-field--error {
        .form-field__input {
            background-image: none;

            &:active,
            &:focus {
                background-color: transparent;
                box-shadow: 0 0 10px 0 $red;
            }
        }

        .form-field__message {
            $icon-size: 24px;
            padding-left: 1rem + rem-calc($icon-size);
            color: $red-dark;
            background-color: $red-ultralight;

            .login__actions.is-active & {
                opacity: 1;
                visibility: visible;
            }

            &:before {
                border-right-color: $red-ultralight;
            }

            &:after {
                content: '';
                position: absolute;
                left: 0.5rem;
                top: 50%;
                width: $icon-size;
                height: $icon-size;
                background: {
                    size: cover;
                    position: center center;
                    repeat: no-repeat;
                    image: svg-url('<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g transform="translate(1 1)" stroke="#{$red-dark}" stroke-width="2" fill="none"><circle cx="11.156" cy="11.137" r="10.607"/><path d="M14.612 7.831L7.81 14.633m0-6.802l6.802 6.802" stroke-linecap="square"/></g></svg>');
                }
                transform: translateY(-50%);
            }

            a {
                color: $red-dark !important;
            }
        }

    }

    &.form-field--button {
        &:hover {
            .form-field__input {
                border-color: $green;
            }
        }

        .form-field__input {
            padding-right: $form-height-login;
            border-color: $green;

            &:hover,
            &:active,
            &:focus {
                border-color: $green;
            }
        }
    }

    &.form-field--password {
        .form-field__input {
            padding-right: $form-height-login;

            &[type='text'] {
                + .form-field__icon {
                    .icon-password-hide {
                        display: block;
                    }
                }
            }

            &[type='password'] {
                + .form-field__icon {
                    .icon-password-show {
                        display: block;
                    }
                }
            }
        }

        .form-field__icon {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;

            &:hover {
                .icon {
                    color: $white;
                }
            }

            .icon {
                display: none;
                font-size: 24px;
                color: $primary-light;
                transition: 0.15s ease-in-out;
            }

            .icon-password-hide {
                margin-top: -1px;
            }
        }
    }

    .form-field__icon,
    .form-field__button {
        display: block;
        position: absolute;
        top: 0;
        width: $form-height-login;
        height: $form-height-login;
        transition: 0.15s ease-in-out;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            // path {
            // }
        }
    }

    .form-field__input {
        &:active,
        &:focus {
            border-color: $white;

            ~ .form-field__message {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .form-field__icon {
        right: 0;

        &:hover {
            path {
                fill: $white;
            }
        }

        path {
            fill: $primary-light;
        }
    }

    .form-field__button {
        right: 0;
        background-color: $green;
        border-radius: 0 3px 3px 0;
        border: none;
        color: $green-ultradark;

        &:active,
        &:focus {
            background-color: $green-dark;
        }

        // path {
        //     fill: $green-ultradark;
        // }

        &:hover {
            box-shadow: none !important;
            color: $white;

            // path {
            //     fill: $white;
            // }
        }
    }

    .form-field__message {
        position: absolute;
        left: 100%;
        left: calc(100% + 12px);
        top: 50%;
        width: 100%;
        padding: 0.5rem;
        font-size: rem-calc(11);
        font-weight: $font-weight-bold;
        line-height: 1.25;
        color: $white;
        background-color: $primary-light;
        border-radius: 3px;
        opacity: 0;
        visibility: hidden;
        transition: 0.15s ease-in-out;
        transform: translateY(-50%);

        a {
            color: $white !important;
            text-decoration: underline;
        }

        &:before {
            content: '';
            position: absolute;
            right: 100%;
            top: 50%;
            border: 8px solid transparent;
            border-right-color: $primary-light;
            transform: translateY(-50%);
        }
    }
}
