// Typography
// ------------------------
p {
    font-weight: $font-weight-normal;
    margin-bottom: 1rem;
    font-size: rem-calc(14);

    &.small {
        @extend %small;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

a {
    color: $gray;
    cursor: pointer;
    text-decoration: none;
    transition: 0.15s ease-in-out;

    &.small {
        @extend %small;
    }

    &:hover {
        color: $gray-dark;
    }
}

b,
strong {
    font-weight: $font-weight-bold;
}

i,
em {
    font-style: italic;
}

small {
    @extend %small;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 0.5rem 0;
    font-family: $font;
    color: $primary;
    font-weight: $font-weight-bold;
    line-height: 1.25;
}

h1, .h1 {
    letter-spacing: -0.5px;
    @include r-font-size(rem-calc(24), rem-calc(30));
}

h2, .h2 {
    @include r-font-size(rem-calc(16), rem-calc(20));
}
