// Helpers
// ------------------------
@import "helpers/reset";
@import "helpers/functions";
@import "helpers/variables";
@import "helpers/mixins";


// Components
// ------------------------
@import "components/buttons";
@import "components/forms";


// Misc
// ------------------------
@keyframes logo-slide-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

@keyframes logo-slide-right {
    0% { transform: translateX(0); }
    100% { transform: translateX(50%); }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
	font: 100%/1.5 $font;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: $primary;
    min-width: $min-width;
    overflow-x: hidden;
}

p {
    font-weight: $font-weight-normal;
    margin-bottom: 1rem;
    font-size: rem-calc(14);

    &:last-of-type {
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
    transition: 0.15s ease-in-out;
}

h1, .h1 {
    margin: 0 0 0.5rem 0;
    font-family: $font;
    color: $primary;
    line-height: 1.2;
    font-weight: $font-weight-bold;
    @include r-font-size(rem-calc(24), rem-calc(30));
}

// Login
// ------------------------
.login {
    &.to-dashboard {
        .login__left {
            width: 80px;
            transition-delay: 0.6s;

            &:before {
                opacity: 0;
                visibility: hidden;
            }
        }

        .login__centerer,
        .login__copyright {
            opacity: 0;
            visibility: hidden;
            transform: translateY(70px);
        }

        .login__right {
            display: none;
        }
    }
}

.login__left,
.login__right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: 0.5s $ease-custom-login 0.3s;
}

.login__left {
    left: 0;
    width: 65%;
    background-color: $primary;
    z-index: 1;
    will-change: width;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: radial-gradient(50% 120%, #415365 50%, #1E2A36 100%);
        opacity: 1;
        visibility: visible;
        transition: 0.5s $ease-custom-login;
        z-index: 0;
    }

    .login__centerer,
    .login__copyright {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 0.5s $ease-custom-login;
    }

    &.is-active {
        width: 100%;

        + * {
            opacity: 0.5;
            transform: scale(0.6);
        }

        .login__back {
            opacity: 1;
            visibility: visible;
        }
    }

    p {
        color: $primary-ultralight;
        font-size: rem-calc(11);

        a {
            color: $primary-ultralight;
            text-decoration: underline;

            &:hover {
                color: $white;
            }
        }
    }
}

.login__right {
    overflow: hidden;
    right: 0;
    width: 35%;
    opacity: 1;
    transform: scale(1);
    z-index: 0;
    will-change: transform;
}

.login__back {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease-in-out;
}

.login__centerer {
    width: 100%;
}

.login__logo {
    display: block;
    text-align: center;
    margin-bottom: 4rem;

    a {
        display: inline-block;
    }

    img {
        display: block;
    }
}

.login__actions-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.login__actions {
    display: block;
    justify-content: center;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
    will-change: transform, opacity, visibility;

    &.is-active {
        opacity: 1;
        visibility: visible;

        &.out {
            opacity: 0;
            visibility: hidden;
            transition: 0.5s $ease-custom-login;
            transform: translateY(70px);
        }
    }

    .action__column {
        width: 100%;
    }
}

.login__actions--main {
    display: flex;
    max-width: 650px;
    opacity: 0;
    transition: 0.25s $ease-custom-login;
    transform: translateY(70px);

    &.is-active {
        opacity: 1;
        transform: translateY(0);
    }

    .action__column {
        width: 43%;

        &:nth-of-type(2) {
            width: 14%;

            .divider {
                position: relative;
                top: 54px;
                text-align: center;
                font-size: rem-calc(14);

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    width: 1px;
                    height: 60px;
                    margin-left: -1px;
                    background-color: $primary-light;
                }

                &:before {
                    bottom: 125%;
                }

                &:after {
                    top: 125%;
                }
            }
        }
    }
}

.login__actions--main,
.login__actions--email {
    position: absolute;
}

.login__actions--email {
    .action__heading,
    .form-field,
    .btn,
    .action__helper,
    .action__other {
        opacity: 0;
        transition: 0.5s $ease-custom-login;
        transform: translateY(70px);
        will-change: transform, opacity;
    }

    &.is-active {
        .action__heading,
        .form-field,
        .btn,
        .action__helper,
        .action__other {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .action__heading {
        margin-bottom: 0;

        img {
            width: 25px;
        }
    }

    .form-field {
        transition-delay: 0.1s;
    }

    .form-field--password {
        transition-delay: 0.2s;
    }

    .form-field--email {
        .form-field__input {
            border: none;
            text-align: center;
            box-shadow: none;
            cursor: pointer;

            &:active,
            &:focus {
                cursor: default;
            }
        }
    }

    .btn,
    .action__helper {
        transition-delay: 0.3s;
    }

    .btn {
        float: right;
        margin-top: 0.75rem;
    }

    .action__other {
        transition-duration: 0.75s;
        transition-delay: 0.8s;
    }
}

.login__actions--uport {
    .action__heading,
    img,
    .action__other {
        opacity: 0;
        transition: 0.5s $ease-custom-login;
        transform: translateY(70px);
        will-change: transform, opacity;
    }

    &.is-active {
        .action__heading,
        img,
        .action__other {
            opacity: 1;
            transform: translateY(0);
        }
    }

    img {
        max-height: 350px;
        transition-delay: 0.25s;
    }

    .action__other {
        transition-duration: 0.75s;
        transition-delay: 0.5s
    }
}

.action__column {
    @include clearfix;
}

.action__heading {
    margin-bottom: 1rem;
    font-size: 1rem;
    color: $gray-light;
    text-align: center;
}

.action__helper {
    float: left;
    margin-top: 0.75rem;
}

.action__other {
    margin-top: 4rem;
    text-align: center;
}

.login__copyright {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    text-align: center;

    p {
        color: $primary-light;
    }
}

.login__intro {
    max-width: 400px;
    margin: 0 auto;
    padding: 3rem 0;
    text-align: center;

    p {
        color: $primary-light;
    }
}

.login__intro-link {
    font-weight: $font-weight-bold;
    color: $green;

    &:not(:first-of-type) {
        margin-left: 0.5rem;
    }

    &:hover {
        color: $green-dark;

        path {
            fill: $green-dark;
        }
    }

    path {
        fill: $green;
        transition: 0.15s ease-in-out;
    }
}

.login__logos {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.login__logos--top {}
.login__logos--bottom {}

.login__logos-row {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    width: 300%;
    animation: {
        duration: 20s;
        iteration-count: infinite;
        timing-function: linear;
    }

    &:first-of-type {
        align-self: flex-end;
        padding-bottom: 3rem;
        animation-name: logo-slide-right;
    }

    &:last-of-type {
        animation-name: logo-slide-left;
    }
}

.login__logos-logo {
    width: 10%;
    flex-basis: 10%;
    height: 60px;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}
