/*
 ***********************
 *    IMPORT FONTS     *
 ***********************
*/
@import url("https://use.typekit.net/qrx4nlm.css");

/*
 ***********************
 * RESET AND NORMALIZE *
 ***********************
*/
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
big,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
main,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

html {
  background-color: #f4f5f6;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-align: center;
  line-height: 1.15;
  font-family: "runda", sans-serif;
}

img {
  border-style: none;
}

[hidden] {
  display: none !important;
}

[clear] {
  clear: both;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* Box Model */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 *****************
 * CSS VARIABLES *
 *****************
*/
:root {
  --blue-gray: #2B3D4F;
  --blue-gray-darker: #1C2D40;
  --active-gray: #606E7B;
  --passive-gray: #959EA7;
  --mustard: #9B7536;
  --hr-gray: #202E3C;
}

/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/
nav {
  width: 290px;
  display: flex;
  flex-direction: column;
  float: left;
}

.navigation--wrapper {
  position: relative;
  background-color: var(--blue-gray);
  height: 100vh;
  padding: 1rem 0;
  width: 215px;
  transition: width .75s cubic-bezier(.25, .75, .05, 1);
}

#nav-toggle {
  width: 74px;
  height: 75px;
  background-color: var(--blue-gray);
  position: absolute;
  right: -74px;
  top: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  cursor: pointer;
  border-left: 1px solid var(--hr-gray);
  transition: transform .75s cubic-bezier(.25, .75, .05, 1);
}

#nav-toggle svg {
  margin-top: 25px;
}

#nav-toggle:hover svg {
  transform: scaleY(-.5);
}

.hamburger {
  margin-top: 23px;
}

.hamburger .line {
  width: 28px;
  height: 2px;
  background-color: var(--passive-gray);
  display: block;
  margin: 5px 0;
  transition: all .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#hamburger .line:nth-child(2) {
  width: 20px;
}

#hamburger .line:nth-child(3) {
  width: 12px;
}

#hamburger:hover .line {
  background-color: #fff;
}

#nav-toggle.active #hamburger .line:nth-child(1) {
  transform: translateY(15px) scaleY(-1);
}

#nav-toggle.active #hamburger .line:nth-child(3) {
  transform: translateY(-15px) scaleY(-1);
}

#nav-toggle.active svg {
  transform: scaleY(-1);
}

nav.active {
  width: 75px;
  display: block;
}

nav.active .navigation--wrapper {
  width: 75px;
}

@keyframes fade-in-out {
  0%   { opacity: 1; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}

nav .logo-wrapper {
  display: block;
  width: 100%;
  height: 48px;
  overflow: hidden;
  position: relative;
  transition: width .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav.active .logo-wrapper {
  width: 55px;
  transition: width .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav .logo-wrapper .text {
  opacity: 1;
  transition: opacity .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav.active .logo-wrapper .text {
  opacity: 0;
  transition: opacity .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.logo-wrapper svg {
  position: absolute;
  left: 22px;
}

nav.active .logo-wrapper svg {
  left: 22px;
}

ul.navigation {
  padding-top: 62px;
  overflow: hidden;
}

ul.navigation li a {
  display: flex;
  align-items: center;
  padding: 1rem 5px 1rem 0;
  transition: background .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  height: 65px;
  font-weight: bold;
  font-size: 14px;
  color: var(--passive-gray);
  letter-spacing: 1px;
  line-height: 65px;
  text-transform: uppercase;
  text-decoration: none;
  border-left: 5px solid transparent;
}

nav ul.navigation li a .nav-item {
  opacity: 1;
  transition: all .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav.active ul.navigation li a .nav-item {
  opacity: 0;
}

nav.active ul.navigation li a .nav-item {
  visibility: hidden;
}

ul.navigation li img {
  margin: 0 16px;
  opacity: .25;
  transition: opacity .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul.navigation li:first-of-type img {
  margin: 0 13px 0 20px;
}

ul.navigation li:nth-of-type(3) img {
  margin: 0 13px 0 16px;
}

ul.navigation li a:hover {
  opacity: 1;
}

ul.navigation li a:hover:not(:active) .nav-item {
  opacity: 1;
  color: #fff;
}

ul.navigation li a:hover .nav-item {
  opacity: 1;
  color: #fff;
}

ul.navigation li a:hover img,
ul.navigation li a:hover img {
  opacity: 1;
}

ul.navigation li a.active-item {
  background-color: var(--blue-gray-darker);
  border-left: 5px solid var(--mustard);
  color: #fff;
}

ul.navigation li a:active {
  color: var(--active-gray);
  background-color: var(--blue-gray-darker);
  border-left: 5px solid var(--mustard);
}

.block--account-info__drawer {
  background-color: var(--blue-gray-darker);
  padding: 0;
  width: 100%;
  transition: max-height .75s cubic-bezier(0.165, 0.84, 0.44, 1);
  max-height: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  bottom: 77px;
}

.block--account-info__drawer.hover {
  max-height: 225px;
  pointer-events: auto;
}

ul.account-drawer {
  padding: 1rem 22px;
}

ul.account-drawer li {
  padding: .5rem 0;
}

ul.account-drawer li a {
  display: flex;
  align-items: center;
  transition: color .25s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 14px;
  
  text-decoration: none;
}

ul.account-drawer li a img {
  opacity: .25;
  margin-right: 18px;
  transition: opacity .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav ul.account-drawer li a .nav-item {
  opacity: 1;
  min-width: 120px;
  text-align: left;
  color: var(--passive-gray);
  transition: all .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav ul.account-drawer li a:hover img {
  opacity: 1;
}

nav ul.account-drawer li a .nav-item:hover {
  color: #fff;
}

nav.active ul.account-drawer li a .nav-item {
  opacity: 0;
}

nav.active ul.account-drawer li a .nav-item {
  visibility: hidden;
}

ul.account-drawer li:hover a {
  color: #fff;
}

ul.account-drawer li:hover img {
  opacity: 1;
}

.block--account-info {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.block--account-info hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--hr-gray);
  margin: 0;
}

.block--account-info__inner {
  padding: 23px 25px;
  display: flex;
  cursor: pointer;
  overflow: hidden;
}


.profile--wrapper {
  width: 26.7px;
  height: 26.7px;
}

nav .block--account-info__inner img {
  width: 26.7px;
  opacity: .25;
  transition: opacity .75s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav.active .block--account-info__inner img {
  margin: 0 auto;
}

.block--profile-info {
  text-align: left;
  display: block;
  width: 117px;
  left: 15px;
  height: 30px;
  overflow: hidden;
  position: relative;
}


p.user-name {
  color: var(--passive-gray);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 117px;
  transition: color .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

p.org-name {
  color: var(--passive-gray);
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 117px;
  transition: color .25s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav.active p.user-name {
  left: -99999px;
  opacity: 0;
}

nav.active p.org-name {
  left: -99999px;
  opacity: 0;
}

.block--account-info__inner:hover img {
  opacity: 1;
}

.block--account-info__inner:hover p.user-name,
.block--account-info__inner:hover p.org-name {
  color: #fff;
}

.section--top-bar {
  height: 75px;
  border: 1px solid #CACED3;
  background-color: white;
}