// Utility
// ------------------------

// Clearfix
[clear],
.cf {
    @include clearfix;
}

// Hide elements visually
.hide-vis {
    position: absolute !important;
    overflow: hidden;
    width: 1px !important;
    height: 1px !important;
    margin: 0 !important;
    padding: 0 !important;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}

// Hide elements
[hidden],
.hide {
    display: none !important;
    visibility: hidden !important;
}

// Add a drop shadow
.shadow {
    box-shadow: 0 0 6px 0 rgba(black, 0.3);
}
