// Contracts
// ------------------------
.contracts__header {}

.contracts__content {
    .left {
        @include bp(l) {
            display: flex;
            align-items: center;
        }

        h2 {
            @include bp(l) {
                margin: 0.5rem 0 0 2rem;
            }
        }
    }
}
