// Contracts - New
// ------------------------
.contract-new__header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

.contract-new__header-left {
    display: flex;
    align-items: center;
}

.contract-new__header-heading {
    margin: 0;
    padding: 0 1.5rem;
    @include r-font-size(rem-calc(16), rem-calc(30));

    button {
        padding: 0;
        background: transparent;
        border: none;
    }
}

.contract-new__header-right {
    display: flex;
    align-items: stretch;

    li {
        display: flex;
        align-items: stretch;
        border-left: 1px solid $gray-ultralight;
    }
}

.contract-new__header-steps,
.contract-new__header-action {
    padding: 0 1rem;
    color: $primary-ultralight;
}

.contract-new__header-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
}

.contract-new__header-steps-text {
    text-transform: uppercase;
    font-size: rem-calc(11);
    letter-spacing: 1px;
    font-weight: $font-weight-bold;
    text-align: center;

    .count {
        color: $green;
    }
}

.contract-new__header-steps-progress {
    position: relative;
    display: block;
    width: 100%;
    width: calc(100% + 4rem);
    height: 4px;
    margin-top: 0.25rem;
    border-radius: 4px;
    background-color: $gray-ultralight;

    .bar {
        position: absolute;
        top: 0;
        left: 0;
        height: 4px;
        border-radius: 4px;
        background-color: $green;
    }
}

.contract-new__header-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $nav-size-small;
    background-color: transparent;
    border: none;

    &[disabled],
    &.is-disabled {
        cursor: not-allowed !important;
        opacity: 0.25;
    }

    &:active,
    &:focus,
    &:hover {
        color: currentColor;
    }

    div {
        margin-top: 0.25rem;
        white-space: nowrap;
        color: $primary-ultralight;
        font-size: rem-calc(10);
    }
}

.contract-new__header-action--cancel {
    div {
        color: $red;
    }
}

.contract-new__header-action--sign {
    div {
        color: $green;
    }
}

.contract-new__content {
    display: flex;
    align-items: stretch;
    flex: 1;
    width: 100%;
}

.contract-new__sidebar,
.contract-new__preview {
    overflow: scroll;
    overflow: auto;
}

.contract-new__sidebar {
    position: relative;
    flex-basis: 40%;
    max-width: 425px;
    padding: 3rem 2rem;
    margin-bottom: $nav-size-small;
    border-right: 1px solid $gray-light;

    @include bp(min, rem-calc(1150)) {
        flex-basis: 30%;
    }

    a {
        text-decoration: underline;

        &:active,
        &:focus,
        &:hover {
            color: $blue;
        }

        &.btn {
            text-decoration: none;

            &:active,
            &:focus,
            &:hover {
                color: $white;
            }
        }
    }

    p {
        &.small {
            @extend %small;
        }
    }
}

.contract-new__sidebar-panel {
    display: none;

    &.is-active {
        display: block;
    }
}

.contract-new__sidebar-nav {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    justify-items: stretch;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 40%;
    max-width: 425px;
    box-shadow: 0 -2px 4px 0 rgba(black, 0.1);

    .contract-new__sidebar-intro + & {
        height: $nav-size-small;
        box-shadow: none;
        border-right: 1px solid $gray-light;

        button {
            display: none;
        }
    }

    @include bp(min, rem-calc(1150)) {
        width: 30%;
    }

    .prev,
    .next {
        width: 50%;
        flex-basis: 50%;
        height: $nav-size-small;
        padding: 0.5rem;
        font-weight: $font-weight-bold;
        font-size: 14px;
        text-transform: uppercase;
        border: none;
    }

    .prev {
        color: $gray-light;
        background-color: $white;

        &:before {
            content: svg-url('<svg width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" fill-rule="nonzero" stroke="#{$gray-light}" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            display: inline-block;
            margin-right: 8px;
            transform: rotate(180deg);
        }
    }

    .next {
        color: $white;
        background-color: $green;
        transition: 0.15s ease-in-out;

        &:hover {
            background-color: $green-light;
        }

        &:active,
        &:focus {
            background-color: $green-dark;
        }

        &:after {
            content: svg-url('<svg width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M1 1l5 5-5 5" fill-rule="nonzero" stroke="#{$white}" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>');
            display: inline-block;
            position: relative;
            top: 1px;
            margin-left: 8px;
        }
    }
}

.contract-new__preview {
    flex: 1;
    flex-basis: 60%;
    padding: 3rem 2rem;
    background-color: $gray-ultralight;

    @include bp(min, rem-calc(1150)) {
        flex-basis: 70%;
    }

    &.is-placeholder {
        display: flex;
        padding: 4rem 3rem;
    }

    .placeholder {
        display: flex;
        flex: 1;
        justify-self: stretch;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        color: $gray;
        font-size: rem-calc(32);
        border: 2px dashed $gray;
    }
}

.contract-new__pre-fill {
    max-width: 400px;
    margin: 0 auto;

    .form-field {
        margin-top: 0;
    }
}

.contract-new__pdf {
    text-align: center;
}
