// Dashboard
// ------------------------
.dashboard {}

.dashboard__top-bar {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - #{$nav-size-large} - #{$nav-size-small - 1px});
    height: 75px;
    background-color: $white;
    border-bottom: 1px solid $gray-light;
    transition: 0.75s cubic-bezier(0.25, 0.75, 0.05, 1);
    z-index: 1;

    .is-small-nav & {
        width: calc(100vw - #{$nav-size-small * 2 - 1px});
    }
}

.dashboard__header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

.dashboard__header-search,
.dashboard__header-right {
    display: flex;
    align-items: stretch;
}

.dashboard__header-search {
    flex: 1;

    $icon-size: 23px;
    &:before {
        content: svg-url('<svg width="23" height="23" xmlns="http://www.w3.org/2000/svg"><path d="M22.918 20.803l-5.926-5.879a9.123 9.123 0 0 0 1.774-5.41c0-5.083-4.17-9.219-9.294-9.219C4.348.295.18 4.431.18 9.514c0 5.084 4.168 9.218 9.292 9.218a9.295 9.295 0 0 0 5.24-1.609l5.958 5.91 2.248-2.23zM2.905 9.513c0-3.592 2.947-6.515 6.568-6.515 3.622 0 6.568 2.923 6.568 6.516 0 3.592-2.946 6.515-6.568 6.515-3.622 0-6.568-2.923-6.568-6.515z" fill="#{$gray-light}" fill-rule="nonzero"/></svg>');
        position: absolute;
        left: 1rem;
        top: 50%;
        width: $icon-size;
        height: $icon-size;
        transform: translateY(-50%);
    }

    input {
        height: auto;
        padding-left: 2rem + rem-calc($icon-size);
        border: none;
        @include r-font-size(0.9rem, 1.5rem);
        box-shadow: none !important;

        @include placeholder {
            color: $gray-light;
        }
    }
}

.dashboard__header-right {
    > li {
        display: flex;
        align-items: stretch;
        border-left: 1px solid $gray-ultralight;

        &.notifications {
            position: relative;
        }
    }

    .notification-panel {
        display: none;
    }
}

.dashboard__header-action {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $nav-size-small;
    padding: 1rem;
    color: $primary-ultralight;
    background-color: transparent;
    border: none;

    &[disabled],
    &.is-disabled {
        cursor: not-allowed !important;
        opacity: 0.25;
    }

    &:active,
    &:focus,
    &:hover {
        color: currentColor;

        .icon-notifications,
        .icon-templates {
            color: $primary-ultralight;
        }

        .icon-notifications-active {
            stroke: $primary-ultralight;
            color: $red;
        }

        .icon-help {
            color: $primary-ultralight;
        }
    }

    .icon {
        font-size: 26px;
        transition: 0.15s ease-in-out;
    }

    .icon-notifications,
    .icon-templates {
        color: $gray-light;
    }

    .icon-notifications-active {
        stroke: $gray-light;
        color: $red;
    }

    .icon-help {
        color: $gray-light;
    }
}

.dashboard__content {
    overflow: scroll;
    overflow: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: calc(100vw - #{$nav-size-large - 1px});
    height: calc(100vh - #{$nav-size-small});
    margin-top: $nav-size-small;
    transition: 0.75s cubic-bezier(0.25, 0.75, 0.05, 1);
    transform: translateX($nav-size-large);

    .is-small-nav & {
        width: calc(100vw - #{$nav-size-small - 1px});
        transform: translateX($nav-size-small - 1px);
    }

    .contracts__content,
    .companies__content,
    .shipments__content,
    .documents__content {
        overflow: scroll;
        overflow: auto;
        display: flex;
        align-items: stretch;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .contract-new__content,
    .contracts__content,
    .companies__content,
    .shipments__content,
    .documents__content {
        max-height: calc(100vh - #{$nav-size-small});
    }
}

.dashboard__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 5rem 2rem;

    @include bp(min, rem-calc(1150)) {
        padding-right: 4rem;
        padding-left: 4rem;
    }

    h1,
    h2 {
        margin: 0;
    }

    h1 {
        @include r-font-size(rem-calc(40), rem-calc(50));
        letter-spacing: -1px;
    }

    h2 {
        color: $primary-ultralight;
        @include r-font-size(rem-calc(20), rem-calc(26));
        font-weight: $font-weight-normal;
        letter-spacing: -0.25px;
    }
}

.dashboard__middle {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 2rem;
    background-color: $gray-ultralight;
    border-top: 1px solid $gray-light;

    @include bp(min, rem-calc(1150)) {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

.dashboard__filters,
.dashboard__pagination {
    display: flex;
    align-items: center;
}

.dashboard__filters {
    flex-wrap: wrap;
    padding: 0 0.5rem 0 0;

    .contracts__content & {
        .form-field__input {
            width: 240px;
        }
    }
}

.dashboard__filter-group {
    display: flex;
    align-items: center;
    margin: 0 -0.25rem;
    padding: 0.25rem 1rem 0.25rem 0;

    @include bp(min, rem-calc(1150)) {
        padding-right: 2rem;
    }

    > * {
        padding: 0 0.25rem;
    }
}

.dashboard__filter-group__input {
    .form-field {
        margin: 0;
    }
}

.dashboard__filter-group__icon {
    font-size: 26px;
    color: $secondary;

    &.icon-type {
        font-size: 30px;
    }

    &.icon-date,
    &.icon-filter {
        font-size: 24px;
    }
}

.dashboard__filter-group__label,
.dashboard__pagination-text {
    font-size: rem-calc(13);
    color: $primary-light;
    white-space: nowrap;
}

.dashboard__pagination {
    padding: 0.5rem 0 0.5rem 0.5rem;
}
.dashboard__pagination-buttons {
    display: flex;
    margin-left: 0.75rem;

    .prev,
    .next {
        $size: 30px;
        display: block;
        position: relative;
        width: $size;
        height: $size;
        padding: 0;
        border: 1px solid $gray-light;
        background-color: $white;
        border-radius: 3px;
        transition: 0.15s ease-in-out;

        &:active,
        &:focus,
        &:hover {
            background-color: $gray-ultralight;
        }

        &[disabled] {
            opacity: 0.5;
            background-color: $white;
            cursor: not-allowed !important;
        }

        &:before {
            content: svg-url('<svg width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M1 0l5 6-5 6" fill-rule="nonzero" stroke="#{$primary-ultralight}" fill="none"/></svg>');
            position: absolute;
            top: 50%;
            left: 50%;
            width: 7px;
            height: 12px;
            transform: translate(-50%, -50%);
        }
    }

    .prev {
        margin-right: 0.25rem;

        &:before {
            transform: translate(-50%, -50%)
                       rotate(180deg);
        }
    }
}

.dashboard__bottom {
    background-color: $white;
    flex: 1;
    padding: 0 2rem rem-calc(75);
    border-top: 1px solid $gray-light;

    @include bp(min, rem-calc(1150)) {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

.dashboard__tabs-controls {
    display: flex;
    justify-content: space-between;
    margin: 0 (-0.1rem) (-$dashboard-tabs-height);
    transform: translateY(-100%);

    .tabs {
        button {
            margin: 0 0.1rem;
        }
    }

    .buttons {
        position: absolute;
        top: -10px;
        right: 0;

        .btn {
            margin: 0 0.1rem;
        }
    }
}

.dashboard__tabs-button {
    position: relative;
    height: $dashboard-tabs-height;
    // padding: 0.75rem 1rem 0.75rem 2.6rem;
    padding: 0 1rem;
    font-size: rem-calc(12);
    text-transform: uppercase;
    color: $primary-ultralight;
    font-weight: $font-weight-bold;
    letter-spacing: 1px;
    border: 1px solid $gray-light;
    border-radius: 3px 3px 0 0;
    background-color: $gray-ultralight;
    transition: 0.15s ease-in-out;
    outline: none;

    .icon {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 1rem;
        margin-right: 0.5rem;
        font-size: 20px;
        transform: translateY(-50%);
    }

    &:before {
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        left: -1px;
        height: 4px;
        background-color: $secondary;
        border-radius: 3px 3px 0 0;
        opacity: 0;
        transition: 0.15s ease-in-out;
    }

    &.is-active {
        color: $primary;
        background-color: $white;
        border-bottom-color: $white;

        &:before {
            opacity: 1;
        }
    }
}

.dashboard__tabs-button--contracts {
    $icon-width: 17px;
    padding-left: 1.5rem + rem-calc($icon-width);

    .icon {
        font-size: $icon-width;
    }
}

.dashboard__tabs-button--shipments {
    $icon-width: 21px;
    padding-left: 1.5rem + rem-calc($icon-width);

    .icon {
        font-size: $icon-width;
    }
}

.dashboard__tabs-button--documents {
    $icon-width: 17px;
    padding-left: 1.5rem + rem-calc($icon-width);

    .icon {
        font-size: $icon-width;
    }
}

.dashboard__tabs-item {
    overflow: scroll;
    overflow: auto;
    display: none;

    &.is-active {
        display: block;
    }
}
