.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease-in-out;
    z-index: 9999;
    will-change: opacity, visibility;

    &.is-active {
        opacity: 1;
        visibility: visible;

        .modal__content {
            transform: translateY(0);

            .no-flexbox & {
                transform: translate(-50%, -50%);
            }
        }
    }

    &:before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:  rgba($primary, 0.8);
        z-index: -1;
    }
}

.modal__close {
    $size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    width: $size;
    height: $size;
    border: none;
    background-color: $gray-ultralight;
    border-radius: 0 $modal-border-radius 0 0;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 2px;
        background-color: $gray;
        transform: translate(-50%, -50%);
    }

    &:before {
        transform: translate(-50%, -50%)
                   rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%)
                   rotate(-45deg);
    }
}

.modal__content {
    overflow: scroll;
    overflow: auto;
    max-width: 95%;
    max-width: 95vw;
    max-height: 95%;
    max-height: 95vh;
    padding: 3rem;
    background-color: $white;
    border-radius: $modal-border-radius;
    box-shadow: 0 8px 16px 0 rgba(black, 0.15),
                0 7px 33px 0 rgba(black, 0.1);
    transition: 0.15s ease-in-out;
    transform: translateY(40px);
    z-index: 1;
    will-change: transform;

    .no-flexbox & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
    }
}

.modal__header {
    &,
    h1 {
        font-weight: $font-weight-normal;
        @include r-font-size(rem-calc(28), rem-calc(36));
        letter-spacing: -1px;
    }
}

.modal--contract-complete {
    .modal__content {
        text-align: center;
    }

    .modal__header {
        margin-top: 1.5rem;
    }

    .modal__actions {
        margin-top: 1.5rem
    }

    .modal__footer {
        margin-top: 2rem;
        color: $gray-light;
        font-size: rem-calc(12);

        a {
            text-decoration: underline;
        }
    }
}

.modal--contract-sign {
    .modal__header-actions {
        display: flex;
        position: relative;
        top: 4px;
        float: right;

        button {
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            letter-spacing: 0.75px;
            background: none;
            border: none;
            opacity: 0.25;
            transition: 0.15s ease-in-out;

            &:active,
            &:focus,
            &:hover {
                opacity: 0.5;
            }

            &.is-active {
                opacity: 1;
            }
        }

        .icon {
            display: block;
            margin: 0 auto;
            height: 30px;
        }

        .icon-keyboard {
            font-size: 28px;
        }

        .icon-draw {
            font-size: 29px;
        }

        .icon-image {
            font-size: 20px;
        }
    }

    .modal__box {
        width: 450px;
        height: 150px;
        max-width: 100%;
    }

    .modal__actions {
        margin-top: 1.5rem;
        text-align: right;

        > * {
            margin-left: 0.5rem;
        }

        .clear {
            font-size: rem-calc(12);
            color: $red;
            text-decoration: underline;
            letter-spacing: 0.35px;
        }
    }
}

.modal--preview-pdf,
.modal--preview-json {
    .modal__header {
        position: sticky;
        top: 0;
        padding: 1rem 3rem;
        background-color: $white;
        border-bottom: 1px solid $gray-light;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .left {
            padding-right: 1rem;
        }

        .right {
            padding-left: 1rem;
        }

        h1 {
            margin: 0;
        }

        .btn {
            display: block;
        }
    }

    .modal__content {
        padding: 0;
    }

    pre,
    code {
        background-color: $white;
    }

    .modal__preview {
        padding: 3rem;
        background-color: $gray-ultralight;
    }
}

.modal--new-document {
    .modal__header {
        margin-bottom: 1.5rem;
    }

    .modal__dropzone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 325px;
        max-width: 100%;
        margin: 1.5rem 0;
        padding: 2rem;
        border: 2px dashed $gray-ultralight;
        border-radius: $modal-border-radius;

        .icon {
            font-size: 40px;
            color: $green;
        }
    }

    .modal__dropzone-text {
        margin-top: 1rem;
        font-size: rem-calc(14);

        a {
            margin-top: 0.5rem;
            text-decoration: underline;
            color: $primary;
        }
    }

    .modal__actions {
        text-align: center;
    }
}

.modal--submit-contract {
    .modal__content {
        padding: 3rem 5rem;
    }

    .modal__header,
    .modal__actions {
        text-align: center;
    }

    .modal__header {
        margin-bottom: 1.5rem;
    }

    .modal__actions {
        margin-top: 1.5rem;
    }
}
