.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.15s ease-in-out;
    z-index: 9999;
    will-change: opacity, visibility;

    &.is-active {
        opacity: 1;
        visibility: visible;

        .modal__content {
            transform: translateY(0);

            .no-flexbox & {
                transform: translate(-50%, -50%);
            }
        }
    }

    &:before {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color:  rgba($primary, 0.8);
        z-index: -1;
    }
}

.modal__close {
    $size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    width: $size;
    height: $size;
    border: none;
    background-color: $gray-ultralight;
    border-radius: 0 $modal-border-radius 0 0;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 2px;
        background-color: $gray;
        transform: translate(-50%, -50%);
    }

    &:before {
        transform: translate(-50%, -50%)
                   rotate(45deg);
    }

    &:after {
        transform: translate(-50%, -50%)
                   rotate(-45deg);
    }
}

.modal__content {
    overflow: scroll;
    overflow: auto;
    max-width: 95%;
    max-width: 95vw;
    max-height: 95%;
    max-height: 95vh;
    padding: 3rem;
    background-color: $white;
    border-radius: $modal-border-radius;
    box-shadow: 0 8px 16px 0 rgba(black, 0.15),
                0 7px 33px 0 rgba(black, 0.1);
    transition: 0.15s ease-in-out;
    transform: translateY(40px);
    z-index: 1;
    will-change: transform;

    .no-flexbox & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
    }
}

.modal__header {
    &,
    h1 {
        font-weight: $font-weight-normal;
        @include r-font-size(rem-calc(28), rem-calc(36));
        letter-spacing: -1px;
    }
}

.modal--contract-complete {
    .modal__content {
        text-align: center;
    }

    .modal__header {
        margin-top: 1.5rem;
    }

    .modal__actions {
        margin-top: 1.5rem
    }

    .modal__footer {
        margin-top: 2rem;
        color: $gray-light;
        font-size: rem-calc(12);

        a {
            text-decoration: underline;
        }
    }
}

.modal--contract-sign {
    .modal__header-actions {
        display: flex;
        position: relative;
        top: 4px;
        float: right;

        button {
            background: none;
            border: none;
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            letter-spacing: 0.75px;
            opacity: 0.25;

            &.is-active {
                opacity: 1;
            }

            &:before {
                display: block;
            }

            &.type {
                &:before {
                    content: svg-url('<svg width="28" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M2 2v16h24V2H2zm26-2v20H0V0h28zM5 13h18v2H5v-2zm0-8h2v2H5V5zm0 4h2v2H5V9zm4-4h2v2H9V5zm0 4h2v2H9V9zm4-4h2v2h-2V5zm0 4h2v2h-2V9zm4-4h2v2h-2V5zm0 4h2v2h-2V9zm4-4h2v2h-2V5zm0 4h2v2h-2V9z" fill="#{$primary}" fill-rule="nonzero"/></svg>');
                }
            }

            &.draw {
                &:before {
                    content: svg-url('<svg width="29" height="19" xmlns="http://www.w3.org/2000/svg"><path d="M22.736 3.634l3.55 2.675-6.371 8.455-3.55-2.675 6.37-8.455zm-4.25 13.146l-3.484.93-.067-3.605.58-.769 3.55 2.676-.58.768zM25.382 0l3.55 2.675-1.82 2.416-3.55-2.675L25.383 0zM13.272 18.446c-.905 0-1.298-.465-1.869-1.633l-.019-.04c-.34-.695-.492-.877-.662-.877-.18 0-.34.193-.705.922-.591 1.183-.962 1.628-1.845 1.628S6.918 18 6.327 16.818c-.365-.73-.526-.922-.705-.922-.18 0-.34.193-.705.922-.591 1.183-.962 1.628-1.845 1.628-1.042 0-1.63-.585-2.361-1.854-.02-.033-.208-.364-.262-.455a4.812 4.812 0 0 0-.318-.491.637.637 0 1 1 1.013-.775c.13.171.254.363.406.622l.265.462c.515.892.84 1.216 1.257 1.216.18 0 .34-.193.705-.923.591-1.183.962-1.627 1.845-1.627s1.254.444 1.845 1.627c.365.73.526.923.705.923.18 0 .34-.193.705-.923.591-1.183.962-1.627 1.845-1.627.874 0 1.247.447 1.807 1.593l.02.04c.354.724.517.917.723.917a.637.637 0 1 1 0 1.275z" fill="#{$primary}" fill-rule="nonzero"/></svg>');
                }
            }

            &.image {
                &:before {
                    content: svg-url('<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg"><path d="M2 14h2.59L11.1 7.6l1.223 1.193 3.207-3.207L18 8.056V2H2v12zm16 0v-3.115l-2.471-2.47-1.775 1.775.944.92-1.396 1.433-2.198-2.143-3.66 3.6H18zm2-14v20H0V0h20zM2 16v2h16v-2H2zm4-8a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" fill="#{$primary}" fill-rule="nonzero"/></svg>');
                }
            }
        }
    }

    .modal__box {
        width: 450px;
        height: 150px;
        max-width: 100%;
    }

    .modal__actions {
        margin-top: 1.5rem;
        text-align: right;

        > * {
            margin-left: 0.5rem;
        }

        .clear {
            font-size: rem-calc(12);
            color: $red;
            text-decoration: underline;
            letter-spacing: 0.35px;
        }
    }
}

.modal--preview-pdf,
.modal--preview-json {
    .modal__header {
        position: sticky;
        top: 0;
        padding: 2rem 3rem;
        background-color: $white;
        border-bottom: 1px solid $gray-light;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .left {
            padding-right: 1rem;
        }

        .right {
            padding-left: 1rem;
        }

        h1 {
            margin: 0;
        }

        .btn {
            display: block;
        }
    }

    .modal__content {
        padding: 0;
    }

    pre,
    code {
        background-color: $white;
    }

    .modal__preview {
        padding: 3rem;
        background-color: $gray-ultralight;
    }
}

.modal--new-document {
    .modal__header {
        margin-bottom: 1.5rem;
    }

    .modal__dropzone {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 325px;
        max-width: 100%;
        margin: 1.5rem 0;
        padding: 2rem;
        border: 2px dashed $gray-ultralight;
        border-radius: $modal-border-radius;
    }

    .modal__dropzone-text {
        margin-top: 1rem;
        font-size: rem-calc(14);

        a {
            margin-top: 0.5rem;
            text-decoration: underline;
            color: $primary;
        }
    }

    .modal__actions {
        text-align: center;
    }
}

.modal--submit-contract {
    .modal__content {
        padding: 3rem 5rem;
    }

    .modal__header,
    .modal__actions {
        text-align: center;
    }

    .modal__header {
        margin-bottom: 1.5rem;
    }

    .modal__actions {
        margin-top: 1.5rem;
    }
}
