// Navigation
// ------------------------
.main-navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

    &.is-active {
        display: block;
        width: $nav-size-small;

        p {
            &.user-name {
                left: -99999px;
                opacity: 0;
            }

            &.org-name {
                left: -99999px;
                opacity: 0;
            }
        }

        .navigation--wrapper {
            width: $nav-size-small;
        }

        .logo-wrapper {
            width: 55px;
            transition: width 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);

            .text {
                opacity: 0;
                transition: opacity 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

            svg {
                left: 22px;
            }
        }

        .navigation li a .nav-item {
            opacity: 0;
            visibility: hidden;
        }

        .account-drawer li a .nav-item {
            opacity: 0;
            visibility: hidden;
        }

        .block--account-info__inner {
            img {
                margin: 0 auto;
            }
        }
    }

    ol,
    ul {
        list-style: none;
    }

    .navigation--wrapper {
        position: relative;
        background-color: $primary;
        height: 100vh;
        padding: 1rem 0;
        width: $nav-size-large;
        border-right: 1px solid $primary-dark;
        transition: width 0.75s cubic-bezier(0.25, 0.75, 0.05, 1);
    }

    .nav-toggle {
        width: $nav-size-small;
        height: $nav-size-small;
        position: absolute;
        top: 0;
        left: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        cursor: pointer;
        border: 0 solid $primary-dark;
        border-left-width: 1px;
        background-color: $primary;
        transition: transform 0.75s cubic-bezier(0.25, 0.75, 0.05, 1);

        &.is-active {
            .hamburger {
                .icon {
                    transform: scaleY(-1);
                }
            }
        }

        &:hover {
            .hamburger {
                color: $gray-ultralight-1;
            }
        }
    }

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 30px;
        color: $primary-ultralight;
        line-height: 0;

        .icon {
            transition: all 0.15s ease-in-out,
                        transform 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
        }
    }

    .logo-wrapper {
        display: block;
        width: 100%;
        height: 48px;
        overflow: hidden;
        position: relative;
        transition: width 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);

        .text {
            opacity: 1;
            transition: opacity 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
        }

        svg {
            position: absolute;
            left: 22px;
        }
    }

    .navigation {
        padding-top: 62px;
        overflow: hidden;

        li {
            .nav-link {
                display: flex;
                align-items: center;
                padding: 1rem 5px 1rem 0;
                transition: background 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
                height: 65px;
                font-weight: bold;
                font-size: 14px;
                color: $primary-ultralight;
                letter-spacing: 1px;
                line-height: 65px;
                text-transform: uppercase;
                text-decoration: none;
                border-left: 5px solid transparent;

                &:active,
                &.is-active {
                    color: $gray-ultralight-1;
                    background-color: $primary-ultradark;
                    border-left: 5px solid $secondary;

                    .icon {
                        color: $primary-ultralight;
                    }
                }

                &:hover {
                    &,
                    .icon {
                        color: $gray-ultralight-1;
                    }
                }
            }

            .nav-icon {
                width: 70px;
                min-width: 70px;
                text-align: center;
                color: inherit;
            }

            .icon {
                // margin: 0 1rem;
                width: 100%;
                transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

            .icon-contracts {
                font-size: 28px;
            }

            .icon-companies {
                font-size: 30px;
            }

            .icon-shipments {
                font-size: 20px;
            }

            .icon-documents {
                font-size: 22px;
            }

            .nav-item {
                position: relative;
                top: 1px;
                transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
            }
        }
    }

    .block--account-info__drawer {
        background-color: $primary-ultradark;
        padding: 0;
        width: 100%;
        transition: max-height 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
        max-height: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        bottom: 77px;

        &.is-active {
            max-height: 225px;
            pointer-events: auto;
        }
    }

    .account-drawer {
        padding: 1rem 22px;

        li {
            &:hover {
                .nav-link {
                    color: $gray-ultralight-1;
                }

                img {
                    opacity: 1;
                }
            }
        }

        .nav-link {
            display: flex;
            align-items: center;
            padding: 0.5rem 0;
            font-size: 14px;
            text-decoration: none;
            color: $primary-ultralight;
            transition: color 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);

            &:hover {
                color: $gray-ultralight-1;
            }
        }

        .icon {
            margin-right: 18px;
            width: 30px;
            min-width: 30px;
            text-align: center;
        }

        .icon-profile {
            font-size: 25px;
        }

        .icon-notifications {
            font-size: 22px;
        }

        .icon-switch-user {
            font-size: 26px;
        }

        .icon-logout {
            font-size: 30px;
        }

        .icon-help {
            font-size: 25px
        }

        .nav-item {
            opacity: 1;
            min-width: 120px;
            text-align: left;
        }
    }

    .block--account-info {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .profile--wrapper {
        $icon-size: 26px;
        width: $icon-size;
        height: $icon-size;
        font-size: $icon-size;
        line-height: 0;
        color: $primary-ultralight;
        transition: color 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);

        .icon {
            width: $icon-size;
            min-width: $icon-size;
        }
    }

    .block--account-info__inner {
        overflow: hidden;
        display: flex;
        width: 100%;
        padding: 23px 25px;
        cursor: pointer;
        background-color: transparent;
        border: 0 solid $primary-dark;
        border-top-width: 1px;

        &:hover {
            .profile--wrapper,
            .user-name,
            .org-name {
                color: $gray-ultralight-1;
            }
        }
    }

    .block--profile-info {
        text-align: left;
        display: block;
        width: 117px;
        left: 15px;
        height: 30px;
        overflow: hidden;
        position: relative;
    }

    .user-name,
    .org-name {
        position: absolute;
        left: 0;
        width: 117px;
        line-height: 1.15;
        color: $primary-ultralight;
        transition: color 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .user-name {
        font-size: 14px;
        font-weight: $font-weight-bold;
        margin-bottom: 5px;
        bottom: 12px;
    }

    .org-name {
        font-size: 12px;
        bottom: 0;
    }
}
